<div class="container">
  <h5>Base Sub Giuridica</h5>
  <div class="row my-4">
    <h6>Informazioni sulla persona giuridica</h6>
    <div class="col-md-12">
      <div class="col-2"></div>
      <div class="col-5">
        <!--RadioButton-->
        <form [formGroup]="form">
          <it-radio-button id="giuridica1" formControlName="giuridicaOpt" value="1" label="Non presente"></it-radio-button>
          <it-radio-button id="giuridica2" formControlName="giuridicaOpt" value="2" label="Solo partita IVA"></it-radio-button>
          <it-radio-button id="giuridica3" formControlName="giuridicaOpt" value="3" label="Scheda completa della persona giuridica"></it-radio-button>
        </form>
        <div class="example-selected-value">Persona Giuridica Selezionata: <strong>{{form.value.giuridicaOpt}}</strong></div>
      </div>
      <div *ngIf="form.value.giuridicaOpt == '2'; else fullScheda">
        <div class="my-4">
          <div class="col-4">
            <it-input id="showPartita" type="text" label="Partita Iva"></it-input>
          </div>
        </div>
      </div>
        <ng-template #fullScheda>
          <app-header></app-header>
        </ng-template>
    </div>
  </div>
</div>
<!---->



