<div class="container">
    <h3>Base Sub Giuridica</h3>
    <div class="row my-4">
        <h6>Informazioni sulla persona giuridica</h6>
        <div class="col-md-4">
            <!--CheckBox-->
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="nonPresente">
                <label class="form-check-label" for="nonPresente">
                  Non Presente
                </label>
              </div>
              <!---->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="soloPartitaIva" checked>
                <label class="form-check-label" for="soloPartitaIva">
                  Solo Partita Iva
                </label>
              </div>
              <!---->
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="completa">
                <label class="form-check-label" for="completa">
                  Scheda Completa Della Persona Giuridica
                </label>
              </div>
        </div>
    </div>
</div>
