<div class="it-header-slim-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="it-header-slim-wrapper-content">
                    <a class="d-none d-lg-block navbar-brand" href="#">Contenuti</a>
                <div class="col-8">
                    <button class="btn btn-primary btn-sm" routerLink="/base-sub-giuridica">Visualizza</button>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
                <router-outlet></router-outlet>
    </div>
</div>



